body {
    background-color: rgb(255, 253, 253);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    background-color: rgb(237, 235, 235);
    border-radius:8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align:center;
    padding: 15px;
    transition: transform 0.2s;

}
.avatar {
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0 auto 15px auto;
}
.name {
    font-weight:bold;
    font-size: 20px;
   }
.detail {
    font-size: 14px ;
    color: #555;
    margin: 5px 0;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}